services:
  db:
    image: postgres:16-alpine
    container_name: finance-tracker_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: finance-tracker
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes: 
  pg_data: 
